/* img{
    max-height: 30em;
} */

#title{
    padding-left: 1.5rem;
    /* font-size: 1.5rem; */
}

.page-title{
    padding-bottom: 2rem;
}


#logged-user{
    margin-top: 1em;
    /* background-color: aquamarine; */
}

.manual-padding-cards{
    margin-bottom: 5rem;
}


.info-control{
    /* width: 20%; */
    border: 1px solid rgb(93, 240, 183);
    border-radius: 5px;
}

#search > label{
    margin-left: 50%;
}


@media screen and (max-width: 480px){
    #title{
        font-size: 1.5em;
        padding: 0;
    }
}