/* img{
    max-height: 30em;
} */

#title{
    padding-left: 2rem;
}

.page-title{
    padding-bottom: 2rem;
}


#logged-user{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin-left: 5rem !important;
    background-color: black;
    z-index: 10; */
}