{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}


  <h3 class="center-align page-title teal-text text-darken-4">Borrow This Book</h3>

  <div class="row">
    <div class="col s12 m6 center-align offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="{{ book.featured_image.url }}">
          <span class="card-title">{{ book.title }}</span>
        </div>
        <div class="card-content">
          <p>{{ book.excerpt }}</p>
          <p class="left-align"><b>Author:</b> {{ book.author }}</p>
          <p class="left-align"><b>Publish year:</b> {{ book.publish_year }}</p>
          <p class="left-align"><b>Shelf:</b> {{ book.shelf }}</p>
        </div>
      </div>
    </div>
  </div>
  
  {% if book.available %}
  <div class="row">
    <div class="col s6 m6 offset-m3">
        <p>Borrowing as: {{ user.username }}</p>
    </div>
    <form action="" class="col s6 m6 offset-m3" method="POST">
        <!-- <label for="username">Borrowing As:</label>
        <input type="text" value="{{ user.username }}" id="username"> -->
        {{form}}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
  </div>
  {% else %}
    {% if book.issue.issued_to == User.username %}
    <div class="row">
      <div class="col s6 m6 offset-m3">
        <a href="{% url 'book_return' book.slug %}" class="btn right-align">Return</a>
      </div>
    </div>
    {% else %}
        <p class="right lime-text text-lighten-1">Not Available</p>
    {% endif %}
  {% endif %}


{% endblock %}