{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
  <h3 class="center-align page-title teal-text text-darken-4">Borrow/Return</h3>

  <div class="row">
    <div class="col s12 m6 center-align offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="{{ book.featured_image.url }}" alt="{{book.title}}">
        </div>
        <div class="card-content">
          <h5 class="left-align purple-text text-lighten-1">{{ book.title }}</h5><br>
          <p>{{ book.excerpt }}</p><br>
          <p class="left-align"><b>Author:</b> {{ book.author }}</p>
          <p class="left-align"><b>Publish year:</b> {{ book.publish_year }}</p>
          <p class="left-align"><b>Shelf:</b> {{ book.shelf }}</p>
        </div>
      </div>
    </div>
  </div>
  
  {% if book.available %}
  <div class="row">
    <div class="col s6 m6 offset-m3">
        <p>Borrowing as: {{ user.username }}</p>
    </div>
    <form action="" class="col s6 m6 offset-m3" method="POST">
        {{form}}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Borrow</button>
    </form>
  </div>
  {% else %}
  <!-- Get the latest data from the 'issue' database -->
    {% for issue in book.issue.reverse|slice:":1" %}
      {% if issue.issued_to == user %}
      <div class="row">
        <div class="col s6 m6 offset-m3">
          <a href="{% url 'book_return' book.slug %}" class="btn right-align">Return</a>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col s6 m6 offset-m3">
          <p class="red-text text-lighten-1"><b>Not Available</b></p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% else %}
<div class="row">
  <div class="col s6 m12 center-align">
    <h3 class="teal-text">Not Authorised. Please login to access the page.</h3>
  </div>
</div>

{% endif %}


{% endblock %}