{% extends 'base.html' %}


{% block content %}

    <h2 class="center-align page-title teal-text text-darken-4">Our Catalogue</h2>
    
            
    <div class="row">
        {% for book in book_list %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ book.featured_image.url }}" alt="{{book.title}}" class="image-control">
                    </div>
                    <div class="card-content">
                        <h6 class="left-align purple-text text-lighten-1">{{ book.title }}</h6>
                        <p>Author: {{ book.author }}</p>
                        <p>Published: {{ book.publish_year }}</p>
                        <p>Shelf: {{ book.shelf }}</p>
                    </div>
                    <div class="card-action">
                        {% if user.is_authenticated %}
                            {% if book.available %}
                                <a href="{% url 'book_issue' book.slug %}" class="btn right cyan darken-1">Borrow</a>
                            {% else %}
                                {% for issue in book.issue.reverse|slice:":1" %}
                                    {% if issue.issued_to == user %}
                                    <a href="{% url 'book_issue' book.slug %}" class="btn right">Return</a>
                                    {% else %}
                                        <p class="right red-text text-lighten-1">Not Available</p>
                                    {% endif %}
                                {% endfor%}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'account_login' %}" class="right-align light-green-text text-lighten-1">Login to view</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <form class="s12" action="{% url 'bookmarked_books' book.slug %}" method="POST">
                                {% csrf_token %}

                                    {% if user.id in book.user_bookmarked %}
                                        <button type="submit" name="bookmark" value="{{book.slug}}" class="btn-flat pink-text text-accent-1">
                                            <i class="material-icons">favorite</i>
                                        </button>

                                    {% else %}
                                    <button type="submit" name="bookmarked" value="{{book.slug}}" class="btn-flat teal-text">
                                        <i class="material-icons">favorite_border</i>
                                    </button>
                                    {% endif %}

                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    {% if is_paginated %}

    <ul class="pagination center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>

    {% endif %}

{% endblock %}