{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="center-align page-title teal-text text-darken-4">Hope You Enjoy!</h3>
<!-- Book Card -->
<div class="row">
    <div class="col s12 m6 center-align offset-m3 manual-padding-cards">
      <div class="card medium">
        <div class="card-image">
          <img src="{{ book.featured_image.url }}" alt="{{book.title}}">
        </div>
        <div class="card-content">
        <h6 class="left-align purple-text text-lighten-1">{{ book.title }}</h6><br>
          <p class="left-align"><b>Author:</b> {{ book.author }}</p>
          <p class="left-align"><b>Publish year:</b> {{ book.publish_year }}</p>
          <p class="left-align"><b>Shelf:</b> {{ book.shelf }}</p>
        </div>
        <div class="card-action">
            <b class="center-align teal-text">Borrowed</b>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <h3 class="teal-text">You might also like:</h3>
    </div>
</div>
<div class="row">
    <!-- Shows a seletion of random collection of books from the database -->
    {% for random_book in random_books %}
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image">
                    <img src="{{ random_book.featured_image.url }}" alt="{{random_book.title}}">
                </div>
                <div class="card-content">
                    <p class="left-align purple-text text-lighten-1">{{ book.title }}</p>
                    <p class="left-align"><b>Author:</b> {{ random_book.author }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'book_issue' random_book.slug %}" class="left">Explore</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- If user is not logged-in and attempts to access the page -->
{% else %}
<div class="row">
    <div class="col s6 m12 center-align">
      <h3 class="teal-text">Not Authorised. Please login to access the page.</h3>
    </div>
</div>
{% endif %}

{% endblock %}