{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_superuser %}

<!-- Add a New Author -->
<div class="row">
  <form class="col s12 m4 l4 push-m4 push-l4  info-control" method="POST" action="{% url 'add_author' %}">
      <div class="input-field col s12">
        {{authorform}}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-small"><i class="material-icons right">add_circle_outline</i>Add</button>
      </div>
  </form>
</div>


<div class="row">
  
  <form class="col s12 m4 l4 push-4 push-l4 info-control" method="POST" enctype="multipart/form-data">
    {{bookform.as_p}}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-small" style="margin-bottom: 2em;"><i class="material-icons right">add_circle_outline</i>Add</button>
  </form>

</div>

<!-- List of All the Books -->
<div class="row">
  {% for book in book_list %}
    
  <div class="row">
    <div class="col s12 m12 l4">
      <div class="card medium">
        <div class="card-image">
          <img src="{{book.featured_image.url}}">
        </div>
        <div class="card-content">
          <p class="left-align purple-text text-lighten-1">{{ book.title }}</p>
          <p class="left-align"><b>Author:</b> {{ book.author }}</p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s2 m2 l2">
                <button class="btn btn-small">Edit</button>
            </div>
            <div class="col s2 m2 l2">
                <form action="{% url 'deletebook' book.slug %}" method="POST">
                  {% csrf_token %}
                  <button  type="submit" class="btn btn-small red lighten-1">Delete</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>      
      {% if forloop.counter|divisibleby:3 %}
    </div>
  <div class="row">
        {% endif %}
    {% endfor %}
  </div>
</div>

{% else %}

<div class="row">
  <div class="col s6 m12 center-align">
    <h3 class="teal-text">Not Authorised. Please login to access the page.</h3>
  </div>
</div>


{% endif %}

{% endblock %}