{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- When logged-out user attempts to access the page -->
{% if user.is_anonymous %}
<div class="row">
  <div class="col s6 m12 center-align">
    <h3 class="teal-text">Not Authorised. Please login to access the page.</h3>
  </div>
</div>
<!-- When User Logged-In -->
{% elif user.is_authenticated %}
<div class="row">
  <div class="col s12 m6 offset-m2">
      <h3 class="teal-text">Profile:</h3>
  </div>
</div>

<div class="row" id="">
    <div class="col s12 m3 offset-m4 info-control">
        <p><b class="teal-text">Name:</b> {{ user.get_username }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m3 offset-m4 info-control">
        <p><b class="teal-text">E-mail Id:</b> {{ user.email }}</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m3 offset-m4 info-control">
        <p><b class="teal-text">Address:</b> {{user_info.address }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m3 offset-m4 info-control">
        <p><b class="teal-text">Contact_no:</b> {{ user_info.contact_no }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m3 offset-m4">
        <button data-target="modal1" class="btn btn-lg modal-trigger">Edit</button>
    </div>
</div>
<!-- Display a Carousel of Books Borrowed by User -->
{% if borrowed_books.count %}
<div class="row">
  <div class="col s12 m6 offset-m2">
      <h4 class="teal-text">Books You Borrowed:</h4>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="carousel">
      {% for book in borrowed_books %}
      <a class="carousel-item" href="#one!"><img src='{{book.book.featured_image.url}}' alt="{{book.book.title}}"></a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- Display a Carousel of Books Bookmarked by User -->
{% if bookmarks|length %}
  <div class="row">
    <div class="col s12 m6 offset-m2">
        <h4 class="teal-text">Your Bookmarks:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="carousel">
        {% for bookmark in bookmarks %}
        <a class="carousel-item" href="#one!"><img src='{{bookmark.featured_image.url}}' alt="{{bookmark.title}}"></a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}



{% endif %}

<!-- Modal Structure/ Form to add or edit user_details model -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Contact Info:</h4>
    <div class="row">
      <form class="col" method="POST">
        <div class="row">
          <div class="input-field col s12 m12">
              <p>Address:</p>
              {{profile_form.address}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 left">
              <p>Contact No.</p>
              {{profile_form.contact_no}}
            </div>
        </div>
        <div class="row">
          <div class="col modal-footer">
              {% csrf_token %}
              <div class="col s12 m6 push-m2"><button type="submit" class="btn btn-signup btn-lg modal-close">Save</button></div>
              <div class="col s12 m6"><button type="reset" class="btn btn-lg modal-close">Cancel</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

        
{% endblock %}